.menuBurger {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(91, 54, 54, 0.6);
  font-size: 1.5rem;
  padding: 3%;
  position: fixed;
  bottom: 0;
  left: 0;
  animation: slideIn;
  animation-duration: 2sec;
  transition: all ease;
  z-index: 2;

  .selectionsHair {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 2%;

    .chooseCut,
    .chooseColor {
      width: 100%;
      height: 50%;
      background-color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1%;
      overflow-x: auto;

      .colorHair {
        width: 20%;
        border-radius: 50%;
      }

      .cutHair {
        width: 15%;
      }
    }
  }

  .buttonPhotomaton {
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    width: 30%;
    cursor: pointer;
    padding: 2%;
  }
  .buttonClose {
    position: fixed;
    bottom: 28.5%;
    left: 45.5%;
    background-color: rgb(91, 54, 54);
    color: white;
    border: none;
    border-radius: 10%;
    padding-inline: 2%;
    cursor: pointer;
    img {
      transform: rotate(90deg);
      width: 30px;
      object-fit: contain;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(100%);
  }
}
